@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,300;1,600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bg-color: #040714;
  --text-color: #f9f9f9;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

@media only screen and (min-width: 768px){
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px){
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 479px){
  body {
    font-size: 14px;
  }
}